.modal-privacy {
  width: 95vw;
  height: calc(80vh - 30px);
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -30px;
  transform: translate(-50%, -50%);
  background: transparent;
  overflow-y: auto;
  padding: 25px 25px 40px 30px;
  z-index: 13;
}

.modal-privacy::-webkit-scrollbar {
  width: 3px;
  background-color: #282828;
  border-radius: 4px;
}

.modal-privacy::-webkit-scrollbar-thumb {
  background-color: #585858;
  border-radius: 4px;
}

.modal-privacy__container {
  padding: 0 10rem;
}

.modal-privacy__paragraph {
  display: flex;
  margin-bottom: 50px;
}

.modal-privacy__paragraph:last-child {
  margin-bottom: 0;
}

.modal-privacy__title {
  display: block;
  text-align: center;
  font-size: 4.7rem;
  margin-bottom: 25px;
  font-weight: 500;
  margin-right: 5rem;
  color: white;
  flex: 1 1 30%;
  text-align: left;
}

.modal-privacy__text {
  display: block;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  color: white;
  text-align: left;
  flex: 1 1 70%;
}

.modal-privacy__text ul,
.modal-privacy__text li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.modal-privacy__text li {
  display: block;
  margin-bottom: 10px;
}

.modal-privacy__text-space {
  display: block;
  margin-bottom: 5px;
}

.modal-privacy__break-big {
  display: block;
  font-size: 20px;
}

.modal-privacy__text li:last-child {
  margin-bottom: 0;
}

.modal-privacy__text a {
  color: white;
}

.modal-privacy__close {
  position: absolute;
  right: 35px;
  top: 25px;
  display: inline-block;
  width: 30px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
  display: none;
}

.modal-privacy__close::before,
.modal-privacy__close::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  background: white;
  height: 4px;
  margin-top: -4px;
}

.modal-privacy__close::before {
  transform: rotate(-45deg);
}

.modal-privacy__close::after {
  transform: rotate(45deg);
}

.modal-privacy__content {

}

.modal-privacy-enter {
  opacity: 0;
}

.modal-privacy-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.modal-privacy-exit {
  opacity: 1;
}

.modal-privacy-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}


@media screen and (max-width: 1023px) {
  .modal-privacy__container {
    padding: 0 5rem;
  }

  .modal-privacy__paragraph {
    margin-bottom: 50px;
  }

  .modal-privacy__paragraph:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 720px) {
  .modal-privacy {
    position: fixed;
    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
    width: 100vw;
    height: 100vh;
    transform: none;
    background: black;
    z-index: 10;
    padding-top: 40px;
  }

  .modal-privacy__close {
    top: 50px;
    right: 20px;
  }


  .modal-privacy::-webkit-scrollbar {
    width: 3px;
    background-color: white;
    border-radius: 4px;
  }

  .modal-privacy::-webkit-scrollbar-thumb {
    background-color: #585858;
    border-radius: 4px;
  }

  .modal-privacy__paragraph {
    margin-bottom: 4rem;
  }

  .modal-privacy__paragraph:last-child {
    margin-bottom: 0;
  }

  .modal-privacy__paragraph {
    display: block;
  }

  .modal-privacy__container {
    padding: 20px 0px;
  }

  .modal-privacy__title {
    font-size: 3rem;
  }

  .modal-privacy__close {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .modal-privacy__title {
    font-size: 3.7rem;
  }

  .modal-privacy__paragraph {
    margin-bottom: 5rem;
  }

  .modal-privacy__paragraph:last-child {
    margin-bottom: 0;
  }
}
